.home-container {
    background-color: #0f172a;
    min-height: 100vh;
    width: 100vw;
    position:relative;
    
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 20px;
    padding-top: 50px;
}

.dashboard h1 {
    color: #fff;
}

.form-input {
    display: flex;
    align-items: center;
}

.form-input input {
    background-color: #1d2537;
    border: none;
    height: 40px;
    padding: 0 10px;
    width: 250px;
    outline: none;
    color: #fff;
    font-size: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-input .submit-btn {
    height: 40px;
    width: 40px;
    font-size: 20px;
    background-color: #4f4e4c;
    border: none;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.button-blue {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #3b82f6;
    color: #fff;
}

.loader {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.warning-msg {
    color: #fff;
    font-size: 20px;
}

.form-error input {
    border: 1px solid #dc2626;
    border-right: none;
}

.form-error .submit-btn {
    border: 1px solid #dc2626;
    border-left: none;
    height: 42px;
}

.error-msg {
    font-size: 10px;
    margin-left: 5px;
    margin-top: 3px;
    color: #dc2626;
}

.user-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.avatar-img {
    width: 200px;
    border-radius: 100px;
}

.username{
    font-size: 20px;
    color: #f8fafc;
}

.bio{
    color: #f8fafc;
    width: 500px;
    text-align: center;
    margin-top: 10px;
}

.data-container{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    justify-content: center;
    margin-top: 10px;
}

.data-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-inline: 40px;
}

.data-details .data-heading{
    font-size: 18px;
    color: #3b82f6;
}

.data-details .data-value{
    color: #f8fafc;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.github-url{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 480px) {
    .dashboard {
        gap: 50px;
        min-height: 80vh;
        justify-content: flex-start;
    }

    .dashboard h1 {
        font-size: 20px;
    }

    .warning-msg {
        font-size: 15px;
    }

    .dashboard img {
        width: 300px;
    }

    .form-error .submit-btn {
        border: 1px solid #dc2626;
        border-left: none;
        height: 42px;
    }

    .avatar-img {
        width: 100px !important;
        border-radius: 50px;
    }

    .username{
        font-size: 15px !important;
    }

    .bio{
        font-size: 12px;
        width: 300px;        
        margin-top: 20px;
    }

    .data-container{
        width: 100%;
        margin-top: 30px;
    }

    .data-details{
        gap: 3px;
        margin: 0;
    }

    .data-details .data-heading{
        font-size: 15px;
    }
}