.desktop-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    color: #fff;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.links {
    text-decoration: none;
    color: #fff;
}

.active-id {
    color: #3b82f6;
}

.mobile-nav {
    display: none;
}

.d-none {
    display: none;
}

@media (max-width: 480px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        color: #fff;
    }

    .mobile-nav h1 {
        font-size: 20px;
    }

    .headers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .mobile-links{
        flex-direction: column;
        gap: 10px;
        padding: 0 20px;
    }
}